.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.projects{
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--bg-color)
}


@media (max-width: 991px) {
.projects {
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
  object-fit: center;
  margin-left: 20px;
  margin-bottom: 10px;
}
}