.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.subhead {
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
  cursor: pointer;
}

.projects {
  min-height: auto;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  column-gap: 10rem;
  cursor: pointer;
}

.newprojects {
  min-height: auto;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 10rem;
  cursor: pointer;
}

.container {
  display: grid;
  min-height: 120vh;
  width: auto;
  max-width: 1170px;
  margin-top: 5rem;
}

.pic {
  width: 700px;
  height: 350px;
  object-fit: center;
  border: 2.5px solid var(--main-color);
  border-radius: 15px;
}

h3 {
  font-size: 25px;
  padding-bottom: 10px;
  text-align: center;
}
h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  padding-bottom: 10px;
  color: var(--main-color);
}

p {
  font-size: 20px;
  line-height: 3.5rem;
  padding-left: 0;
  padding-bottom: 10px;
}

.icon {
  display: flex;
  font-size: 30px;
  gap: 30px;
  
}

.icon:hover {
  color: var(--main-color);
}

@media (max-width: 768px) {
  .row {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .newprojects {
    grid-template-columns: 1fr;
  }

  .icons{
    width: 200px;
    justify-content: space-between;
    align-items: center;

  }

  .subhead{
    font-size: 30px;
  }
}
