.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 5% 0 7%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  background: black;
}

.logo {
  font-size: 4rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar{
  padding: 1.7rem;
  border-radius: 40%;

}

.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 300;
  padding: 1.2rem;
  transition: 0.3s;

}

.navbar a:hover {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 8px;
}

.navbar a.active {
  color: var(--main-color);
}



