.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}

.footerText p {
  font-size: 1.6rem;
  color: gray;
  justify-items: center;
  align-items: center;
}

.footerIconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.footerIconTop a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
}

.footerIconTop a:hover::before {
  width: 100%;
}

.footerIconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
}

.footerIconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: .5s;
}

.footerIconTop a:hover i{
  color: var(--main-color);
}